body{
    margin: 0;
    padding: 0;
    /* height: 100%; */
    background-image: url('./img/dish.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

}
.logo{
    height: 150px;
    width: auto;
    margin-left:8%;
    
}
        
.header{
    margin-top:1%   ;
    /* position :fixed; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20%;
    width: 100%;
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 200px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    
    /* background-color: rgb(52, 186, 186); */
    /* justify-content: end; */
    /* filter: blur(10px); */
    /* z-index: -1; */
}


.container{
    /* border: 2px solid black; */
    /* width: 100%;
    height: 100%; */
    /* background-color: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: blur(5px); */
    /* box-shadow: 0 0 10px rgb(0, 0, 0); */
    /* margin-top: 200px; */
    padding-top: 15%;
    

}
.button{
    display: flex;
    flex-direction: row;
    /* filter: blur(20px); */
    background:transparent ;
    margin-left: 50%;
    margin-top:1.5%    ;
    
    
    /* z-index: 2; */
    

}
.btn{
    padding-top :200px ;
    background-attachment:fixed;
    background-color:black;
    color: rgb(250, 250, 251);
    border: 2px solid rgb(8, 11, 8);
    height: 50px;
    /* z-index: 2; */
    border-radius: 40px;
    padding: 12px 20px ;
    margin: 5px;
    
    font-size: 20px;
    /* padding-top: 20px; */
    
    

}
.btn:hover{
    background-color: white;
    color: black;
    transition: 0.5s ease-out;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(111, 25, 217);
    border-color: white;
}
.types{
    
    width: 80%;
    height: 410px;
    /* background-image: url(./bg1.jpg); */
    /* background-size: cover; */
    margin: auto;
    margin-top: 50px;
    /* border-radius: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    
    /* box-shadow: 0 0 10px rgb(21, 21, 220); */
}

.box1,.box2,.box3,.box4,.box5,.box6,.box7,.box8,.box9,.box10{
    
    
    color: #fdfdfd;
    width: 350px;
    height: 400px;
    /* background-color: rgba(249, 9, 9, 0.5); */
    /* background-image: url(./bg2.jpg); */
    border-radius: 20px ;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(5px); */
    

}
.box1{
    /* background-image: url("./img/salad2.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/salad2.jpg") no-repeat center center;
    background-size: cover;
    
}
.box2{
    /* background-image: url("./img/soup.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/soup.jpg") no-repeat center center;
    background-size: cover;
}
.box3{
    /* background-image: url("./img/salad2.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/salad2.jpg") no-repeat center center;
    background-size: cover;
}
.box4{
    /* background-image: url("./img/food-8151625.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/food-8151625.jpg") no-repeat center center;
    background-size: cover;
}
.box5{
    /* background-image: url("./img/nonveg.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/nonveg.jpg") no-repeat center center;
    background-size: cover;
}


.box6{
    /* background-image: url("./img/bread.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/bread.jpg") no-repeat center center;
    background-size: cover;
}
.box7{
    /* background-image: url("./img/roti.webp"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/roti.webp") no-repeat center center;
    background-size: cover;
}
.box8{
    /* background-image: url("./img/dessert.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/dessert.jpg") no-repeat center center;
    background-size: cover;
}
.box9{
    /* background-image: url("./img/beverages.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/beverages.jpg") no-repeat center center;
    background-size: cover;
}
.box10{
    /* background-image: url("./img/fastfood.jpg"); */
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./img/fastfood.jpg") no-repeat center center;
    background-size: cover;
}
/* .box1:hover,.box2:hover,.box3:hover,.box4:hover,.box5:hover,.box6:hover,.box7:hover,.box8:hover,.box9:hover,.box10:hover{
    transform: scale(1.05);
    transition: 0.5s ease-out;
    box-shadow: 0 0 15px rgb(111, 25, 217);

} */
.boxes:hover{
    

    transform: scale(1.1);
    transition: 0.5s ease-out;
}
.menu_head{
    /* margin-top: ;     */
    align-items: center;
    font-size: 40px;
    /* backdrop-filter: blur(10px); */
    /* background-color: aqua; */
    border: 2px solid black;
    border-radius: 30px 10px 30px 10px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    margin-left:50%;
    display: inline-block;
    
}
.boxes{
    
     display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    /* display: flex; */
  

}



.spacer{
    z-index: -1;
    /* margin: 0px 200px; */
    /* height: 30%; */
    /* width: 100%; */
   
    /* background-attachment:fixed; */
    flex-direction: row;
    justify-content: center;
    border: 2px solid black; 
    /* margin-left: 30px; */
    /* margin-right: 30px; */
    border-radius: 20px;
    background-attachment: fixed;
    /* background-color: aliceblue; */
    background-image:url("./img/dessert.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgb(0, 0, 0);
   /* background-color: rgba(255, 255, 255, 0.5); */
   /* background-color: background hsla(298, 68%, 90%, 1);

background: -moz-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

background: linear-gradient(90deg, hsla(298, 68%, 90%, 1) 0%, hsla(30, 82%, 91%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1 ); */
}

.menu_heading{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: #fdfdfd;
    font-family: Papyrus, fantasy;
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 45%;
    
}

.menu_btn{
    padding-top :200px ;
    background-attachment:fixed;
    background-color:black;
    color: rgb(250, 250, 251);
    border: 2px solid rgb(8, 11, 8);
    height: 50px;
    /* z-index: 2; */
    border-radius: 40px;
    padding: 12px 20px ;
    /* justify-content: center; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 340px;
    font-size: 20px;
}



.title{
    color: rgb(7, 7, 8);
    text-align: center;
    /* background-color: #060206; */
    padding-top: 20px;
    padding-bottom: 200px;
    font-size:40px;
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    /* hieght: 100%; */
    
}
.title_img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}
.heading2{
    font-size: 30px;
}
.heading {
    /* text-shadow: 2px 2px 5px rgb(59, 59, 59); */
    font-size: 60px;
}
footer {
      /* background: linear-gradient(135deg, #2c3e50, #4ca1af); */
background: #daf7f7;
background: linear-gradient(273deg, rgba(218, 247, 247, 1) 0%, rgba(191, 189, 189, 1) 69%);
      color: #050404;
      padding: 40px 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      text-align: left;
      gap: 30px;
      border-radius:40px ;margin: 20px;
    }

    footer div {
      flex: 1 1 250px;
      min-width: 250px;
      
    }

    footer h3 {
      font-size: 24px;
      margin-bottom: 15px;
      border-bottom: 2px solid #0d0b06;
      display: inline-block;
      padding-bottom: 5px;
    }

    footer p {
      margin: 8px 0;
      font-size: 16px;
    }

    footer p strong {
      font-weight: bold;
    }

    footer a {
      color: #0a0907;
      text-decoration: none;
      margin-right: 15px;
      font-size: 18px;
    }

    footer a:hover {
      text-decoration: underline;
    }

    footer .copyright {
      flex-basis: 100%;
      text-align: center;
      margin-top: 30px;
      font-size: 14px;
      color: #ccc;
    }